<h1>All the burgers shall be eaten!</h1>

<h2>Burgers yet to be eaten</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Grill up a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit" class="griller">Grill a Burger</button>
</form>
